# These are the default values for launching the bhyve(8) guest.
# Please, at least set the `passthru` value to match with the
# slot/bus/function of the wireless PCI device, which can be obtained
# from the output of the pciconf(8) tool.

#cpus=1       # number of CPUs allocated for the guest
#memory=86M   # amount of memory allocated for the guest
#passthru=    # expected format: "s/b/f", e.g. "3/0/0"
#console=no   # "yes" actives the nmdm(4) console
