# This is a shim `devd(8)` configuration file to implement calling the
# `wifibox` service on `suspend` because that is not supported by the
# base system.  Review the contents and create a copy of it without
# the `.sample` extension to use it.  Restart the `devd` service once
# the file has been created.
#
notify 11 {
	match "system"		"ACPI";
	match "subsystem"	"Suspend";
	action "service wifibox suspend";
	action "/etc/rc.suspend acpi $notify";
};
